@import "tailwindcss";

/* Neon Border Effects */
.border-neon-green {
  border-color: #39ff14;
  box-shadow: 
      0 0 5px #39ff14,
      0 0 10px #39ff14;
}
.border-neon-green-lg {
  border-color: #39ff14;
  box-shadow: 
      0 0 5px #39ff14,
      0 0 10px #39ff14,
      0 0 20px #39ff14,
      0 0 40px #39ff14;
}

.border-neon-blue {
  border-color: #7f22fe;
  box-shadow: 
      0 0 5px #7f22fe,
      0 0 10px #7f22fe;
}
.border-neon-blue-lg {
  border-color: #7f22fe;
  box-shadow: 
      0 0 5px #7f22fe,
      0 0 10px #7f22fe,
      0 0 20px #7f22fe,
      0 0 40px #7f22fe;
}

.border-neon-white {
  border-color: #ffffff;
  box-shadow: 
      0 0 5px #ffffff,
      0 0 10px #ffffff;
}

.border-neon-white-lg {
  border-color: #ffffff;
  box-shadow: 
      0 0 5px #ffffff,
      0 0 10px #ffffff,
      0 0 20px #ffffff,
      0 0 40px #ffffff;
}

/* Neon Text Effects */
.text-neon-green {
  color: #39ff14;
  text-shadow: 
      0 0 5px #39ff14,
      0 0 10px #39ff14,
      0 0 20px #39ff14;
}

.text-neon-blue {
  color: #7f22fe;
  text-shadow: 
      0 0 5px #7f22fe,
      0 0 10px #7f22fe,
      0 0 20px #7f22fe;
}

.text-neon-white {
  color: #ffffff;
  text-shadow: 
      0 0 5px #ffffff,
      0 0 10px #ffffff,
      0 0 20px #ffffff;
}

/* Custom Scrollbar for WebKit Browsers */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a; 
  border-radius: 10px;
  margin: 10px;
}

::-webkit-scrollbar-thumb {
  background: #7f22fe; /* Neon blue */
  border-radius: 10px;
  border: 2px solid #1a1a1a;
}

::-webkit-scrollbar-thumb:hover {
  background: #39ff14; /* Neon green */
}

.gradient-text {
  background: linear-gradient(to right, #a78bfa, #60a5fa); /* violet-400 to blue-400 */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #a78bfa; /* fallback color */
}
