@import "tailwindcss";

/* Neon Border Effects */
.border-neon-green {
  border-color: #39ff14;
  box-shadow: 
      0 0 5px #39ff14,
      0 0 10px #39ff14;
}
.border-neon-green-lg {
  border-color: #39ff14;
  box-shadow: 
      0 0 5px #39ff14,
      0 0 10px #39ff14,
      0 0 20px #39ff14,
      0 0 40px #39ff14;
}

.border-neon-blue {
  border-color: #00ffff;
  box-shadow: 
      0 0 5px #00ffff,
      0 0 10px #00ffff;
}
.border-neon-blue-lg {
  border-color: #00ffff;
  box-shadow: 
      0 0 5px #00ffff,
      0 0 10px #00ffff,
      0 0 20px #00ffff,
      0 0 40px #00ffff;
}

.border-neon-white {
  border-color: #ffffff;
  box-shadow: 
      0 0 5px #ffffff,
      0 0 10px #ffffff;
}

.border-neon-white-lg {
  border-color: #ffffff;
  box-shadow: 
      0 0 5px #ffffff,
      0 0 10px #ffffff,
      0 0 20px #ffffff,
      0 0 40px #ffffff;
}

/* Neon Text Effects */
.text-neon-green {
  color: #39ff14;
  text-shadow: 
      0 0 5px #39ff14,
      0 0 10px #39ff14,
      0 0 20px #39ff14;
}

.text-neon-blue {
  color: #00ffff;
  text-shadow: 
      0 0 5px #00ffff,
      0 0 10px #00ffff,
      0 0 20px #00ffff;
}

.text-neon-white {
  color: #ffffff;
  text-shadow: 
      0 0 5px #ffffff,
      0 0 10px #ffffff,
      0 0 20px #ffffff;
}

/* Custom Scrollbar for WebKit Browsers */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a; 
  border-radius: 10px;
  margin: 10px;
}

::-webkit-scrollbar-thumb {
  background: #00ffff; /* Neon blue */
  border-radius: 10px;
  border: 2px solid #1a1a1a;
}

::-webkit-scrollbar-thumb:hover {
  background: #39ff14; /* Neon green */
}
